<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.15/angular.min.js"></script>
    </head>
    <body style="background: #f5e799; font-family: verdana;font-size:16px">
		<div ng-app="" ng-init="FirstName='John';Marks='99'">
			<input type="text" ng-model="FirstName"/><br>
			<input type="text" ng-model="Marks"/><br>
			
			<br>
			First Name: {{FirstName}}<br>
			Marks : {{Marks}}
        </div>
    </body>
</html>
